.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid lightgray;
  padding: 0.3125rem 0 0.3125rem 0;
  width: 100%;
  z-index: 999;

  &-left {
    display: flex;
    margin: 0.3125rem 0 0 9.6875rem;
  }
  &-left-img {
    object-fit: contain;
    width: 2.2rem;
    height: 2rem;
    cursor: pointer;
  }

  &-search {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.3125rem;
    height: 1.125rem;
    color: gray;
    background-color: #ececec;
    margin-left: 0.625rem;

    & > input {
      outline: none;
      border: none;
      background: none;
      font-size: 0.9rem;
      padding: 50px;
      position: relative;
      right: 17%;
    }
  }

  &-right {
    display: flex;
    margin-right: 10.8125rem;

    & > a {
      text-decoration: none;
      font-size: 0.75rem;
      margin-top: 0.3125rem;
      color: rgb(170, 44, 44);
      font-weight: 400;
    }
    & > a:hover {
      text-decoration: underline;
    }
  }

  &-link {
    margin-left: 1.875rem;
    text-decoration: none;
    color: rgb(170, 44, 44);
    position: relative;
    top: 10%;
  }
  &-hr {
    margin-right: 1.25rem;
    border: 0.4px solid lightgray;
  }
}
