.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5625rem;
  color: gray;
  cursor: pointer;

  &-title {
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
  }

  &-icon {
    object-fit: contain;
    height: 1.5625rem;
    width: 1.5625rem;
  }
  &:hover {
    color: black;
  }
}
