.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    color: gray;
    cursor: pointer;
  }
  .headerOption-title {
    font-size: 14px;
    font-weight: 400;
    color: black;
  }
  
  .headerOption-icon {
    object-fit: contain;
    height: 25px;
    width: 25px;
  }
  .headerOption:hover {
    color: black;
  }
  