.inputOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: gray;
  padding: 15px;
  font-size: 13px;
  margin-top: 5px;

  &:hover {
    background-color: whitesmoke;
    border-radius: 10px;
  }
  & > h4 {
    margin-left: 5px;
  }
}
