.inputOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: gray;
  padding: 1rem;
  font-size: 0.8125rem;
  margin-top: 0.3125rem;

  &:hover {
    background-color: whitesmoke;
    border-radius: 0.625rem;
  }
  & > h4 {
    margin-left: 0.3125rem;
  }
}
