.post {
  background-color: white;
  padding: 1rem;
  margin-bottom: 0.625rem;
  border-radius: 0.625rem;

  &-header {
    display: flex;
    margin-bottom: 0.625rem;
  }

  &-info {
    margin-left: 0.625rem;

    & > p {
      font-size: 0.75rem;
      color: gray;
    }
    & > h2 {
      font-size: 1rem;
    }
  }

  &-body {
    overflow-wrap: anywhere;
  }

  &-buttons {
    display: flex;
    justify-content: space-evenly;
  }
}
