.sidebar {
  position: sticky;
  top: 5rem;
  flex: 0.2;
  border-radius: 0.625rem;
  text-align: center;
  height: fit-content;

  &-avatar {
    position: relative;
    bottom: 1.25rem;
    cursor: pointer;
  }

  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    background-color: #fff;
    padding-bottom: 0.625rem;

    & > h4 {
      color: gray;
      font-size: 0.75rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
    & > h2 {
      font-size: 1rem;
      cursor: pointer;
    }

    & > img {
      margin-bottom: -1.25rem;
      width: 100%;
      border-top-left-radius: 0.625rem;
      border-top-right-radius: 0.625rem;
      object-fit: cover;
    }
  }

  &-stats {
    padding: 0.625rem;
    border: 1px solid lightgray;
    background-color: white;

    &:hover {
      background: lightgray;
    }
  }
  &-stat {
    margin-top: 0.625rem;
    display: flex;
    justify-content: space-between;

    & > p {
      color: gray;
      font-size: 0.8125rem;
      font-weight: 600;
      color: black;
      cursor: pointer;
    }
    & > a {
      text-decoration: none;
      font-size: 0.75rem;
      margin-top: 0.3125rem;
      color: black;
      font-weight: bold;
      margin-left: 1.5625rem;
    }
    & > a:hover {
      color: blue;
    }
  }

  &-statNumber {
    font-weight: bold;
    color: #0a66c2 !important;
  }
  &-bottom {
    text-align: left;
    padding: 0.625rem;
    margin-top: 0.5rem;
    border: 1px solid lightgray;
    background-color: white;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
  }

  &-recentItem {
    display: flex;
    font-size: 0.8125rem;
    color: #0a66c2;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 0.3125rem;
    padding: 0.3125rem;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-text {
    position: relative;
    bottom: 0.5rem;
  }

  &-stats-text {
    padding: 0.625rem;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;

    & > p {
      margin-top: 0.625rem;
      display: flex;
      justify-content: space-between;
      font-size: 0.8125rem;
      font-weight: 600;
      color: black;
      cursor: pointer;
    }
    &:hover {
      background: lightgray;
    }
  }
  &-items {
    position: relative;
    bottom: 1px;
    right: 25.5%;
    font-size: 0.75rem;
    font-weight: 600;
  }
  &-bottom-text {
    color: gray;
    position: relative;
    bottom: 0.1875rem;
    font-size: 0.875rem;
    font-weight: 600;
  }
}
