.sign-in-google {
  width: 21.625rem;
  height: 3.5rem;
  font-size: large;
  color: black;
  background: #fff;
  border-radius: 1.5rem;
  border: 1px solid #d3d3d3;
  cursor: pointer;

  &:hover {
    background: whitesmoke;
  }
  & > img {
    width: 6%;
    margin-bottom: -3px;
    margin-right: 7px;
  }
}
