.widgets {
  position: sticky;
  top: 5rem;
  flex: 0.28;
  background: #fff;
  border-radius: 0.625rem;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 0.625rem;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem;

    & > h2 {
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
    }
  }
  &-article {
    display: flex;
    padding: 0.625rem;
    cursor: pointer;

    &:hover {
      background: whitesmoke;
    }
  }
  &-articleLeft {
    color: #0177b7;
    margin-right: 0.3125rem;

    & > .MuiSvgIcon-root {
      font-size: 1rem;
    }
  }
  &-articleRight {
    flex: 1;

    & > h4 {
      font-size: 0.875rem;
    }
    & > p {
      font-size: 0.75rem;
      color: gray;
    }
  }
}
