.layout {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0 0.625rem 0;
  width: 100%;
  z-index: 999;

  &-left {
    display: flex;

    & > img {
      object-fit: contain;
      height: 2.5rem;
      margin: 0.7rem 0 0 9.7rem;
      cursor: pointer;
    }
  }

  &-right {
    display: flex;
  }

  &-button-one {
    width: 7.5rem;
    padding: 0.6875rem;
    margin: 0.3125rem 0.3125rem 0 0.3125rem;
    color: black;
    background: white;
    border: none;
    border-radius: 1.5625rem;
    font-size: 1.1875rem;
    font-family: sans-serif;
    cursor: pointer;

    &:hover {
      background: #eeeeee;
    }
  }
  &-button-two {
    width: 8.125rem;
    height: 3.125rem;
    padding: 0.6875rem;
    color: #0a66c2;
    margin-right: 11.75rem;
    background-color: white;
    border: 1px solid #0a66c2;
    border-radius: 1.5625rem;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
      background: #f0f8ff;
    }
  }
  &-row {
    width: 76%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8f5849;
    margin: 1.5% 0 0 11%;
  }
  &-content > h1 {
    font-size: 3.9rem;
    margin-bottom: 2rem;
    font-weight: 150;
  }

  &-form {
    display: flex;
    flex-direction: column;

    & > input {
      height: 3.125rem;
      font-size: 1.25rem;
      padding-left: 0.625rem;
      margin-bottom: 0.625rem;
      border-radius: 0.3125rem;
      border: 1px solid lightgray;
    }
    & > a {
      color: black;
      margin: 0.3125rem 0 1.875rem;
      cursor: pointer;
    }
    & > p {
      margin-top: 1.25rem;
    }
  }
  &-button {
    width: 27.5rem;
    height: 3.8rem;
    font-size: large;
    color: #fff;
    background-color: #0073b1;
    border-radius: 2.5rem;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: normal;
    font-family: inherit;
    border: 1px solid lightgray;

    &:hover {
      background: #006097;
    }
  }

  &-img {
    & > img {
      max-width: 105%;
      height: auto;
      margin: 3rem 0 0 10rem;
    }
  }
}
