.login {
  background-color: whitesmoke;
  display: grid;
  place-items: center;
  margin: 0 auto 0 auto;
  background: #fff;

  & > img {
    object-fit: contain;
    justify-content: flex-start;
    margin: 2rem 76rem 1rem 0;
    height: 2.2rem;
    cursor: pointer;
  }

  & > h2 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 0 13rem 0.3rem 0;
    cursor: pointer;
  }
  & > h4 {
    font-size: 1rem;
    font-weight: 400;
  }

  & > form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    & > a {
      cursor: pointer;
      color: #0073b1;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
    & > input {
      width: 18.75rem;
      height: 3.125rem;
      font-size: 1.25rem;
      padding-left: 0.625rem;
      margin: 0 0 1.25rem 0;
      border-radius: 0.3125rem;
      border: 1px solid black;
    }
  }
  &-button {
    height: 3.4375rem;
    width: 20rem;
    font-size: large;
    color: white;
    background-color: #0a66c2;
    border-radius: 1.5rem;
    border: 1px solid lightgray;
    cursor: pointer;
    margin: 1rem 0 0 0;

    &:hover {
      background: #004182;
    }
  }
  &-text {
    text-align: center;
    margin-top: 0.5rem;

    & > hr {
      margin: 0.6rem 0 1rem 0;
    }
  }
  &-google {
    margin: 0 1.7rem 2rem 0;
    height: 3.4375rem !important;
    width: 20rem !important;
    cursor: pointer;
  }
  &-new {
    margin-top: 1rem;
  }
  &-now {
    color: #0a66c2;
    cursor: pointer;
    font-weight: 600;
  }
  &-footer {
    text-align: center;
    font-size: 0.85rem;
    margin-top: 5rem;
    
    & > a {
      text-decoration: none;
      margin: 0 0.625rem 0 0.625rem;
      color: black;
      font-family: sans-serif;
    }
  }
}
