.login {
  background-color: whitesmoke;
  display: grid;
  place-items: center;
  margin: -20px auto 0px 90px;
  padding: 100px 0 100px 0;
  background: #fff;

  & > a > img {
    object-fit: contain;
    margin: 23px 0px 0px 90px;
    position: absolute;
    left: -2.5%;
    top: 1%;
    height: 35px;
    cursor: pointer;
  }

  & > h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin: 0px 310px 10px 0px;
    cursor: pointer;
  }
  & > h4 {
    font-size: 16px;
    font-weight: 400;
    margin-right: 100px;
  }

  & > form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  & > form > input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 0px 0px 30px -97px;
    border-radius: 5px;
    border: 1px solid black;
  }
  & > form > a {
    position: relative;
    top: -20px;
    right: 92px;
    cursor: pointer;
    color: #0073b1;
    font-weight: 700;
  }
  & > form > a:hover {
    text-decoration: underline;
  }
  &-button {
    height: 55px;
    width: 320px;
    font-size: large;
    color: white;
    background-color: #0a66c2;
    border-radius: 24px;
    border: 1px solid lightgray;
    cursor: pointer;
    margin-left: -97px;
    position: relative;
    left: 90px;
    bottom: -20px;

    &:hover {
      background: #004182;
    }
  }
  &-text {
    text-align: center;
    margin: 15px 0px 0px -97px;

    & > hr {
      margin-top: 10px;
    }
  }
  &-google {
    cursor: pointer;
    margin: 1.5rem 6rem 2rem 0rem;
  }
  &-new {
    margin-right: 100px;
  }
  &-now {
    color: #0a66c2;
    cursor: pointer;
  }
  &-footer {
    text-align: center;
    position: absolute;
    bottom: 1%;
    font-size: 13.5px;
    margin-right: 90px;

    & > img {
      width: 4.5%;
      position: relative;
      top: 3px;
    }
    & > a {
      text-decoration: none;
      margin: 0px 10px 0px 10px;
      color: black;
      font-family: sans-serif;
    }
  }
}
